.container-width {
    display: flex;
    flex-direction: column;
    padding: 17px 20px;
}

.first-monitor {
    background-image: url(../images/bcg-header_320x559.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-title, .title-btn {
    box-sizing: border-box;
    width: 0px;
    height: 0px;
    opacity: 0;
    margin: 0;
    font-size: 0px;
}

.wrapper-description {
    display: flex;
    align-items: center;
    padding-bottom: 131px;
}

.nav__list {
    position: absolute;
    opacity: 0;
    box-sizing: border-box;
    width: 0px;
    height: 0px;
    opacity: 0;
    margin: 0;
    font-size: 0px;

    @media (min-width: 768px) {

    }

    
    @media (min-width: 960px) {
        display: flex;
        justify-content: space-between;
        position: static;
        opacity: 1;
        width: 100px;
        font-size: 28px;
        font-family: "Ubuntu";
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
}

// .header-btn:focus .nav__list {
//     position: static;
//     opacity: 1;
//     width: 100px;
//     font-size: 28px;
//     font-family: "Ubuntu";
//     color: rgb(255, 255, 255);
//     font-weight: bold;
// }

.header-btn {
    border: none;
    background-image: url(../images/icons/buger_28x19.png);
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    @media (min-width: 768px) {

    }

    
    @media (min-width: 960px) {
    background-image: none;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 280px;
}

.header-btn {
    display: inline-block;
    width: 28px;
    height: 18px;
}

.list {
    list-style: none;
}

.logo-img {
    width: 100px;

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.link {
    text-decoration: none;
    color: #fff;
}



.header__title, .header__description {
    text-align: center;
    font-family: 'Open Sans';
    color: #fff;
}

.header__description--gold-decor {
    color: #e9ac38;
}

.header__title {
    font-size: 35px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    padding-bottom: 25px;

    @media (min-width: 768px) {
        font-size: 45px;
        font-family: "OpenSans";
        color: rgb(255, 255, 255);
        line-height: 1.317;
    }

    @media (min-width: 1400px) {
        font-size: 65px;
        line-height: 0.912;
        justify-content: start;
        text-align: start;
    }
}

.wrapper-description {
    display: block;
    position: relative;
    padding: 7px 0;
    max-width: 280px;
    background-color: rgb(22, 24, 32);
    opacity: 0.678;
    font-size: 16px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.375;
    margin: 0 auto;
    margin-bottom: 131px;

    &--gold-decor {
        text-align: start;
    }

    @media (min-width: 768px) {
        max-width: 443px;
        font-size: 27px;
        font-family: "Ubuntu";
        color: rgb(255, 255, 255);
        line-height: 1.185;
    }

    @media (min-width: 1400px) {
        max-width: 487px;
        font-size: 25px;
        line-height: 1.4;
        text-align: left;
        margin: 0;
        padding-left: 60px;

        &::before {
            content: '';
            position: absolute;
            display: block;
            background-image: url(images/icons/vertical-line_2x63.png);
            background-color: #fcae26;
            width: 2px;
            height: 63px;
            left: 20px;
        }
    }
}

.header__description::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -82px;
    transform: translateX(-50);
    display: block;
    width: 13px;
    height: 19px;
    background-image: url(../images/Scroll-Down_13x19.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
