// .study__header {
//     font-family: $main-font;
//     font-size: 20px;
//     line-height: 78px;
//     color: $title-color;
//     margin:0 auto;
//     margin-left: 15px;;
//     text-align: center;
// }

// .study__header:before {
//     content: url(../images/icon.png);
// }

.study__list 
{
    width: 100%;
    list-style: none;
    padding-left: 45px;
    margin: 0 auto;

}

.study-title-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.study-block {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.study 
{
    margin: 0 auto;
}

.study__list li 
{
    width: 100%;
}

.study__list li:nth-child(-n+4) {
  margin-bottom: 30px;
}

.study__list li:before 
{
    content:"";
    background-size: 55px 55px;
    display: block;
    width: 55px; 
    height: 55px;
    margin-bottom: 16px;
}

.article-paragraph 
{
    font-family: $title-font;
    font-size: 14px;
    line-height: 20px;
    color: $text-color;
    margin: 0;
}

.study__list li:nth-of-type(1):before 
{
    background-image: url('../images/1.png');
}

.study__list li:nth-of-type(2):before 
{
    background-image: url('../images/2.png');
}

.study__list li:nth-of-type(3):before 
{
    background-image: url('../images/3.png');
}

.study__list li:nth-of-type(4):before 
{
    background-image: url('../images/4.png');
}

.study__list li:nth-of-type(5):before 
{
    background-image: url('../images/5.png');
}

.study__list li:nth-of-type(6):before 
{
    background-image: url('../images/6.png');
}

.study__list li:nth-of-type(7):before {
    background-image: url('../images/7.png');
}


@media (min-width: 768px) {

    .study-title-block 
    {
        margin-bottom: 48px;
    }

    .study__list 
    {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .study__list li {
        width: 50%;
    }
}

@media (min-width: 1380px) {
  .study-title-block  {
    margin-bottom: 70px;
  }

    .study__list
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        padding: 0;
    }

    .study__list li
    {
        width: 18%;
        
    }

    .study__list li:not(:nth-child(4)) 
    {
        margin-right: 100px;
    }

    .study {
      background-image: url(../images/back.png);
      padding: 110px 0;
    }

}