p {
    margin: 0;
}

.footer {
    background-color: $footer-bg-color;
    padding-top:55px;
}

.logo-footer {
    margin-bottom: 26px;
    text-align: left;
}

.up {
    
    width: 100%;
        margin: 0 auto;
        padding: 0 45px;
        padding-bottom: 33px;
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.block {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.bottom {
    background-color: $footer-bottom-bg-color;
    padding: 0 45px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.adress {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 34px;
}

.contacts {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 34px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.button-yellow {
    margin-bottom: 34px;
}


.links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

.links li {
    display: block;
    width: 42px;
    height: 42px;
}

.links li:nth-of-type(1) {
    background-image: url('../images/icons-footer/telegram.png');
    background-repeat: no-repeat;
    background-position: center;
}

.links li:nth-of-type(2) {
    background-image: url('../images/icons-footer/facebook.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-left:20px;
}

.links li:nth-of-type(3) {
    background-image: url('../images/icons-footer/youtube.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-left:20px;
}

.rules {
    list-style: none;
    padding: 0;
    margin:0;
}

.paragraph {
    color: $footer-text-color;
    font-size: 14px;
    line-height: 25px;
    font-family: $title-font;
}

.paragraph-first {
    padding-top: -2px;
}

.paragraph-rules {
    color: $footer-bottom-text-color;
    font-size: 14px;
    line-height: 25px;
    font-family: $title-font;
}



@media (min-width: 768px) {

    .logo-footer {
        text-align: left;
    }
    .rules {
        display: flex;
    }

    .rules li:not(:nth-of-type(3)) {
        margin-right: 40px;
    }

    .footer-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .adress {
        margin-bottom: 0;
        margin-top: -5px;
    }

    .contacts {
        margin-bottom: 0;
        margin-top: -5px;
    }

    .button-yellow {
        margin-bottom: 21px;
    }

    .links {
        justify-content: center;
        margin-top: -3px;
    }
}

@media (min-width: 1380px) {
    .rules li:not(:nth-of-type(3)) {
        margin-right: 70px;
    }

    .adress {
        margin-right: 140px;
        margin-top: -5px;
    }

    .contacts {
        margin-right: 160px;
        margin-top: -5px;
    }

    .button-links {
        display: flex;
        justify-content: space-between;
        width: 518px;
    }

}