.container {
  min-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    min-width: 689px;
    padding: 0 40px;
  }
}

@media (min-width: 1400px) {
  .container {
    min-width: 1300px;
    padding: 0 83px;
  }
}