.container {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 0px 75px;
  }
}

@media (min-width: 1380px) {
  .container {
    width: 1340px;
    padding: 0 20px;
    margin: 0 auto;
  }
}