/*color variable*/
$decor-color: #fcae26;
$white-color: #ffffff;
$title-color: #222222;
$mobile-title-color: #272727;
$text-color: #444444;
$footer-bg-color: #222222;
$footer-bottom-bg-color: #151515;
$footer-text-color: #878a96;
$footer-bottom-text-color: #626263;
$button-text-color: #f6f9fa;
$purple-color: #824fe3;

/*fonts variable*/
$main-font: 'Open Sans', sans-serif;
$title-font: 'Ubuntu', sans-serif;
